* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    background-image: url('https://i.postimg.cc/X73Trwbs/light-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;

}

body.dark {
    background-image: url('https://i.postimg.cc/JnZvf4s9/dark-background.jpg');
    color: rgb(201, 201, 201);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap);
    margin-top: 100px;
    flex-wrap: wrap;
}

#main {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    gap: var(--gap);
}

#app,
#forecast-block,
#history-block,
#geo-block {
    max-width: 400px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 
#app {
    z-index: 1;
} */

#history-block {
    max-width: 400px;
}

#app.dark,
#forecast-block.dark,
#history-block.dark,
#geo-block.dark {
    background-color: rgba(10, 10, 10, 0.555);
}

h1 {
    font-size: 24px;
    padding-top: 10px;
}

h2 {
    padding-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    background-color: #8a8a8abb;
    -webkit-transition: .4s;
    transition: .4s;
    color: black
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    content: "°F";
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    content: "°C";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {
    font-size: 10px;
}

#data-container {
    padding-top: 30px;
    display: grid;
    gap: 10px;
}

.data-label {
    display: inline-block;
    align-items: center;
    gap: 10px;
}

#description {
    margin-bottom: 20px;
}

#map {
    width: 350px;
    height: 650px;
}